body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../assets/images/background.jpg');
  background-repeat: repeat;
}

.search-pokemon {
  padding: 4% 0;
}

.order-button {
  background-color: #356ABC;
  color: #FFCD00;
}

.pokemon-card {
  margin: 1% 0%;
}

.card-body {
  background-color: #DA1E2D;
  color: whitesmoke;
  padding: 1% 0;
}

#pokemons-container > section > div > img{
  margin: 5% 0;
  height: 12em;
  width: 100%;
}
