body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../assets/images/background.jpg');
  background-repeat: repeat;
}

.search-pokemon {
  padding: 4% 0;
}

.order-button {
  background-color: #356ABC;
  color: #FFCD00;
}

.pokemon-card {
  margin: 2% 0%;
}

#pokemons-container > section > div > img{
  width: 100%;
  height: 12em;
}
